/******** BASE **********/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.my_container{
    max-width: 1100px;
    margin: 0 auto;
}


.link{text-decoration: none;
    padding: 1rem;
    color: grey}