/******** BASE **********/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}

.my_container{
    max-width: 1100px;
    margin: 0 auto;
    padding-top: 6rem;
}


.link{text-decoration: none;
    padding: 1rem;
    color: lightgray
}

.touch_btn {
    background-color: rgb(5, 130, 131);
}